body {
  background: black; 
  color: white;
  font-family: "Comic Sans MS", "Comic Sans", cursive;
}

p {
  color: white;
  text-align: left;
}

.Youtube:link, .Youtube:visited{
  background-color: #f2190a;
  color: white;
  padding: 8px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;}

.Youtube:hover{
  background-color: #ff4c40;
}

.Twitch:link, .Twitch:visited {
  background-color: #6441a5;
  color: white;
  padding: 8px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;}

.Twitch:hover{
  background-color: #7b66a1;
}

.Twitter:link, .Twitter:visited {
  background-color: #58c8f5;
  color: white;
  padding: 8px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;}

.Twitter:hover{
  background-color: #9adcf7;
}

.Insta:link, .Insta:visited {
  background-color: #b829ff;
  color: white;
  padding: 8px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;}

.Insta:hover{
  background-color: #cc67ff;
}

.Discord {
  color: #7d85f3;}

a {
  color:darkcyan;
}

img {
  width: 250px;
  height: auto;
}




