body {
  background: black; 
  font-family: 'Times New Roman', Times, serif;
}

p {
  color: white;
  text-align: left;
}

.Youtube {
  color: #f2190a;}

.Twitch {
  color: #6441a5;}

.Twitter {
  color: #58c8f5;}

a {
  color:darkcyan;
}

img {
  width: 720;
  height: auto;
}




